@charset 'utf-8';

@use 'sass:math';
@use '../helper/function';
@use '../helper/mixin';
@use '../helper/const';
@use '../helper/var';

/**
 * keeif 커스텀
 * 장바구니, 주문결제
 */


// *---------- 팝업 ----------*

/** 주문결제 */
.m_order {
	.mm_radio-list {
		.mm_form-radio {
			+ [class*='mm_syncer-'] {
				margin-top: 8px;
			}
		}

		+ .mm_title {
			padding-top: 27px;
			border-top: 1px solid #e6e6e6;

			+ p {
				margin-top: 16px;
			}
		}
	}

	.mm_address-list {
		ul {
			@include mixin.flex-container;

			li {
				@include mixin.prefix(flex, 1, webkit);
				min-width: 83.2vw;

				#{function.escape('.T=pc')} & {
					min-width: calc(376px * 0.832);
				}
			}
		}

		.mm_address-item {
			height: 100%;
		}
	}
}