@charset 'utf-8';

@use 'sass:math';
@use '../helper/function';
@use '../helper/mixin';
@use '../helper/const';
@use '../helper/var';

/**
 * 컴포넌트
 * 브라우저(시스템) 팝업
 */


/** 팝업 영역 */
.mm_bom {
	overflow: hidden;
	position: fixed;
	z-index: const.$z_index_bom;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&-items {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

/** 팝업 요소 */
.mm_bom-item {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@include mixin.opacity(0, none);
	@include mixin.transform(scale(1.2));
	@include mixin.transition(opacity const.$time_fast, transform const.$time_fast);

	&-dim {
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.78);
	}

	&-inner {
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		padding-top: 22px;
		width: 288px;
		border-radius: 3px;
		background-color: #fff;
		text-align: center;
		@include mixin.transform(translate(-50%, -50%));

		@include mixin.is('.ico_bom-alert, .ico_bom-bell') {
			margin-bottom: 15px;
		}

		#{function.escape('.mm_bom...content')} {
			padding: 0 13px 18px;

			h2 {
				margin-bottom: 4px;
				@include mixin.font(#3d3d3d '1.7rem/1.4');

				+ p {
					@include mixin.font(#767676 '1.3rem/1.8rem');
				}
			}

			&-form {
				margin-top: 11px;

				li:nth-child(n+2) {
					margin-top: 6px;
				}
			}
		}

		#{function.escape('.mm_bom...btn')} {
			ul {
				height: 47px;
			}

			button {
				@include mixin.font(#fff '1.6rem/4.7rem');

				&.btn_no {
					background-color: #cdcdcd;
				}

				&.btn_ok {
					background-color: var(--color_variable);
				}
			}
		}
	}

	// 현재창
	&#{function.escape('.S=on')} {
		z-index: 1;
		@include mixin.opacity(1, auto);
		@include mixin.transform(scale(1));
	}
}