@charset 'utf-8';

@use 'sass:math';
@use '../helper/function';
@use '../helper/mixin';
@use '../helper/const';
@use '../helper/var';

/**
 * keeif 커스텀
 * 컴포넌트
 * 태그
 */

/** 태그 */
.mm_tag {
	// 새벽배송
	&#{function.escape('.T=dawn')} {
		padding: 5px 6px 0;
		height: 21px;
		border: 0;
		border-radius: 2px;
		background-color: #101010;
	}
}